@import url("styles/cabecalho.css");
@import url("styles/sobre.css");
@import url("styles/numeros.css");
@import url("styles/vagas.css");
@import url("styles/opinioes.css");
@import url("styles/rodape.css");

:root {
    --cor-azul-escuro: #101828;
    --cor-azul-claro: #667085;
    --cor-vermelha: #8E2424;
    --cor-gelo: #F9FAFB;
    --fonte-principal: 'Inter';
}

body {
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
}
